@import url('https://fonts.googleapis.com/css?family=Catamaran&display=swap');

/* Base Styles */
:root {
  --primary-color: #333;
  --secondary-color: #444;
  --overlay-color: rgba(0, 0, 0, 0.7);
  --nav-height: 52px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Catamaran', sans-serif;
  line-height: 1.6;
  color: var(--primary-color);
  font-size: 1.1rem;
}

h1,
h2,
h3,
h4 {
  line-height: 1.3;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Header/Nav */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.navbar {
  font-size: 1.2rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
}

.navbar .logo {
  font-size: 2rem;
}

.navbar .nav {
  justify-self: end;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar .nav a {
  padding: 0 1rem;
}

.navbar .nav a:hover {
  color: #555;
}

/* Showcase */
.section {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.layer {
  position: absolute;
  width: 100vw;
  min-height: 100%;
  overflow: hidden;
}

.layer .content-wrap {
  position: absolute;
  width: 100vw;
  min-height: 100%;
}

.layer .bg-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.layer .content-body {
  width: 25%;
  position: absolute;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
}

/*
.layer img {
  position: absolute;
  width: 35%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
*/

.layer h1 {
  font-size: 2em;
}

.bottom {
  background: #222;
  z-index: 1;
}

.bottom .content-body {
  right: 5%;
}

.bottom h1 {
  color: #fda800;
}

.top {
  background: #eee;
  color: #222;
  z-index: 2;
  width: 50vw;
}

.top .content-body {
  left: 5%;
}

.handle {
  position: absolute;
  height: 100%;
  display: block;
  background-color: #fdab00;
  width: 5px;
  top: 0;
  left: 50%;
  z-index: 3;
}

.skewed .handle {
  top: 50%;
  transform: rotate(30deg) translateY(-50%);
  height: 200%;
  transform-origin: top;
}

.skewed .top {
  transform: skew(-30deg);
  margin-left: -1000px;
  width: calc(50vw + 1000px);
}

.skewed .top .content-wrap {
  transform: skew(30deg);
  margin-left: 1000px;
}
